<% if flash[:notice].present? %>
    <%= flash[:notice] %>
    <% end %> </br>
<table>
    <tr>
        <td>Name<td>
        <td>Username<td>
    </tr>
    <% @student.each do |s|%>
    <tr>
        <td><%= s.name %></td>
        <td><%= s.username %><td>
        <td><%= link_to 'Detail', student_path(s) %> | <%= link_to 'Edit', edit_student_path(s) %><td>
        <td><%= link_to 'Delete', s , method: :delete, data: {confirm: 'Are you sure?'} %><td>
    </tr>
    <% end %>
</table>

<%= link_to 'New Student', new_student_path() %>